/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('pic/Backgrounds/bgt3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.project-page {
    padding: 20px;
}

.section-title h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #f7f1f1;
    text-transform: uppercase;
    font-weight: bold;
}

.project-details {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7); /* Adjusted transparency */
    padding: 30px;
    border-radius: 10px;
    line-height: 1.6;
}

.project-image,
.project-video {
    text-align: center;
    margin-bottom: 30px;
}

.project-image img,
.project-video video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: 0.4s ease;
}

.project-image img:hover,
.project-video video:hover {
    opacity: 0.8;
    cursor: pointer;
}

.image-description {
    font-size: 16px;
    color: #ddd;
    margin-top: 10px;
    text-align: left;
    line-height: 1.8;
    padding: 10px;
}

.project-video video {
    max-height: 500px;
    border: 2px solid #fff;
}

.back-to-home {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #e6683b;
    padding: 12px 25px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    transition: 0.4s ease;
}

.back-to-home:hover {
    background-color: #3baeD1;
}
